.header__links-wrap {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 35px;
}

@media (max-width: 437px) {
  .header__links-wrap {
    flex-direction: column;
    gap: 5px;
  }
}