.header__links-wrap {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 370px) {
  .header__links-wrap {
    flex-direction: column;
  }
}