.header__links-wrap {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 35px 0 0;
  padding: 0;
}

@media (max-width: 437px) {
  .header__links-wrap {
    flex-direction: column;
    margin: 0 0 5px;
  }
}