.reviews__cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width:522px){
    .reviews__cards{
        flex-direction: column;
    }
}