.header__link {
  padding-right: 35px;    
  text-decoration: none;
  color: #0f0f0f;
  font-weight: bold;
  font-size: 13px;
}

.header__link:hover {
  opacity: 0.8;
}

.header__link:last-of-type{
  padding-right: 0;
}

@media (max-width: 437px) {
  .header__link {
    font-size: 19px;
    line-height: 1.63;
  }
}