.place {
  display: grid;
  grid-template-columns: 50% 50%;    
  grid-template-areas:
        "image title"
        "image text";
	background: #f2f2f2;
}

@media (max-width: 675px) {
  .place {
    grid-template-columns: 1fr;   
    grid-template-areas:
          "image"
          "title"
          "text";  
  }
}