.intro__image {
	width: 356px;
	height: 356px;
	background-image: url(../../../images/intro-image.jpeg);
	background-size: cover;
	background-position: center;
	min-width: 356px;
}

@media (max-width: 768px) {
	.intro__image {
		width: 250px;
		height: 250px;
		min-width: 250px;
	}
}

@media (max-width: 575px) {	
	.intro__image {
		margin-top: 50px;
	}
}

@media (max-width: 375px) {
	.intro__image {
		margin-top: 0;
		position: absolute;
		right: 0;
    top: 0;
	}
}