.intro__image {
	width: 356px;
	height: 356px;
	background-image: url(../../../images/intro-image.jpeg);
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.intro__image {
		width: 250px;
		height: 250px;
		min-width: 250px;
	}
}

